<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>  
	
</head>



<body>
	
	<% include ../partials/nav.ejs %>
	
	
	<div class="jumbotron text-left">
		<div class="container">
			<h2>财富之家</h1>
			<p>这是一个webpage</p>
   
		</div>
	</div>

	<div class="container">
  
		<hr>
		<div class="row">
			<div class="col-md-4">
				<h3> <%= name %> </h3>
				<ul>
					<ul> <%= id %> </ul>
					<ul> 8.23 </ul>
					<ul>今 开</ul>
					<ul><%= start %> </ul>
					<ul>最 高</ul>
					<ul><%= high %> </ul>
				</ul>
			</div>
    
			<div class="col-md-6">
				<h3>Articles</h3>
				<table>
					<% for(var i=0; i < articles.length; i++) { %>
						<tr>
							<td><a href=	<%=articles[i].href%>	>	<%=articles[i].title%>	</a></td>
							<td><%=articles[i].author_name%> </td>
						
							<td><%= format(articles[i].date) %> </td>
						</tr>
					<% } %>
				</table>
					
				
				<ul>
					<ul></ul>
        
				</ul>
			</div>
		</div> <!-- row -->
 
	</div>

	<script type="text/javascript">
	
		console.log("passed to storage");
		var currentStockId = localStorage.getItem("stockId");
		console.log(currentStockId);
		document.getElementById("stockIdDisplay").innerHTML = currentStockId;
	
    
	</script>

</body>
</html>
